.gaugeChartClass {
  margin-top: -150px;
} 

/*
 .App {
  background-color: black;
}
*/

.css-1pnmrwp-MuiTypography-root{
  font-weight:700px;
  font-size:2rem;
  text-align: center;
}


.css-pwngrv-MuiPaper-root-MuiCard-root{
  background-color:#ffffff;
}


/*

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: blue;
} */


/* This is the header with the logo */
/* top nav bar */
.css-1nt9mjz-MuiToolbar-root{
  background-color:#073072;
  min-height: 80px;
  
}


.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  background-color: #f2f7ff;
  width: 5%;
  border-radius: 16px;
}

/* Icon box  */
.css-h4y409-MuiList-root{
  /* padding-top: 700%; */
  /* vertical-align: middle; */
}


.css-p55zm9-MuiButtonBase-root-MuiIconButton-root {
  margin-left:-18px
}

  